body{
    background-color: rgb(214, 230, 245);
}
.element{
    height: 4vw;
    width: 4vw;
    background: grey;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mine{
    background-color: red;
}
.GameDiv{
    display: flex;
    justify-content: center;

}
.player{
    background-color: greenyellow;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 15px 25px;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.buttons{
    display: flex;
    justify-content: center;
}
.sliders{
    display: flex;
    justify-content: center;
}
input{
    margin-right: 20px;
}