body{
    background-color: rgb(214, 230, 245);
}
.element{
    height: 4vw;
    width: 4vw;
    background: grey;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mine{
    background-color: red;
}
.GameDiv{
    display: flex;
    justify-content: center;

}
.player{
    background-color: greenyellow;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}